<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password Form</title>
</head>
<body>
 
  <h2>Forgot Password</h2>
 
  <form method="post" action="../controller/forgetPassCheck.php" enctype="">
 
    <fieldset>
    <label for="email">Email:</label><br>
    <input type="email" name="email" placeholder="Enter your email" required><br><br>
    <label for="usernmae">Username:</label><br>
    <input type="text" name="username" placeholder="Enter your username" required><br><br>
    <label for="newpassword">New Password:</label><br>
    <input type="password" name="newpassword" placeholder="Enter your new password" required><br><br>
    <label for="confirmpassword">Confirm Password:</label><br>
    <input type="password" name="confirmpassword" placeholder="Rewrite password" required><br><br>
 
    <button type="submit" name="submit">Submit</button>
    </fieldset>
 
  </form>
 
</body>
</html>