<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In Form</title>
</head>
<body>
 
  <h2>Sign In</h2>
 
  <form method="post" action="../controller/loginCheck.php" enctype="">
 
    <fieldset>
    <label for="username">Username:</label><br>
    <input type="username" name="username" required><br><br>
 
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>
 
    <button type="submit" name="signIn" value="Sign In">Sign In</button>
    </fieldset>

    <a href="forgetPassword.html">Forget Password?</a>

  </form>
</body>
</html>